/*@import 'https://fonts.googleapis.com/css?family=Dosis';*/
@import 'https://fonts.googleapis.com/css?family=Questrial';


/*    
bg color: #d4c4cc
navi bar/header bg color: #594750
*/

*{
 /*   font-family: 'Dosis', sans-serif;*/
    color: #846776;
    font-family: 'Questrial', sans-serif;

}

body{
    background-color: #d4c4cc;
}

#header{
    z-index: 1;
    margin: auto;
    position:fixed;
    overflow: hidden;
    /*height: 50px;*/
    width: 100%;
    background-color: #594750;
    top: 0;
    left: 0;
}

#footer{
    clear: both;
}

a{
    text-decoration: none;
    color: #fde4f1;
}

/* ----- Navigation Styling ---- */
.navi{
    float: right;    
    padding-right: 5px;
/*    margin: 0px 10px 10px 5px;
    padding: 10px;
    color: #fde4f1;
    text-align: right;
    display: inline-block;*/
    
}

.navi li{
    /* list styling for navi */
    list-style-type: none;
    display: inline-block;
}

.navi li a{    
    /* link styling */
    font-size: 1em;
    color: #fde4f1;
    padding: 5px;
    text-decoration: none;
}


a:hover{
    border-bottom-style: solid;
    border-bottom-color:#fde4f1;
    border-bottom-width: 2px;
}


/* ---- About section styling ---- */

#about{
    position: relative;
    display: inline-block;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
    margin-left: 20px;
    width: 45%;
    float: left;
}



#skills{
    font-family: 'Questrial', sans-serif;
    position: relative;
    height: auto;
    display: inline-block;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
    margin-right: 10px;
    width: 45%;
    float: right;
}


.skills_types{
    overflow: hidden;
   /* font-family: Courier;*/
    width: auto;
    margin: auto;
    text-align: center;
}

.types{
    margin: auto;
    width: 100%
    text-align: center;
}

.types li{
    background: rgba(34, 0, 17, 0.4);
    display: inline-block;
    padding: 2%;
    margin: 0px;
    color: #fde4f1;
    font-family: 'Questrial', sans-serif;
 /*   font-family: Courier;*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 20px;
    border: thin solid #d4c4cc;
    opacity: 0.5;
}

.types li:hover{
    font-size: 22px;
    opacity: 1; /* replace with jquery once it's fixed */
}

.skills_list{
    background: rgba(34, 0, 17, 0.4);
    text-align: center;
    font-family: 'Questrial', sans-serif;
    padding: 2%;
    margin: auto;
    border: medium solid #d4c4cc;
    height: 100%
    overflow: hidden;
}

#list_one ul,
#list_two ul,
#list_three ul,
#list_four ul{
    padding-left: 0px;
    list-style: none;
}

#list_one li,
#list_two li,
#list_three li,
#list_four li{
    padding: 2%;
    font-size: 20px;
    color: #fde4f1;
}


h1{
    margin: 10px;
    float: left;
    display: inline-block;
}

h2{
    
}
