@import url('https://fonts.googleapis.com/css?family=Comfortaa:300|Josefin+Sans');


body{
	font-family: 'Comfortaa';
	text-align: center;
	color: #ffccff;
	background-color: #666666;
	font-size: 1.5em;
}

h2{
	font-size: 2em;
	text-shadow: 2px 2px;
}

.navi{
	font-family: 'Josefin Sans', sans-serif;
}

.navi li{
	text-decoration: none; 
}

.photo{

}