@import url('https://fonts.googleapis.com/css?family=Comfortaa:300|Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300');


body{
/*	font-family: 'Comfortaa';*/
	font-family: 'Quicksand';
	text-align: center;
	color: #ffccff;
	background-color: #666666;
	font-size: 1.5em;
}

h2{
	font-size: 2em;
	text-shadow: 2px 2px black;
}

.navi{
	font-family: 'Josefin Sans', sans-serif;
}

.navi a{
	text-decoration: none; 
	color: #ffccff;
}

.navi li:hover{
	text-decoration: underline;
}

.navi li{
	list-style-type: none;
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}

.photo{

}
