@import url('https://fonts.googleapis.com/css?family=Comfortaa:300|Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300');


body{
/*	font-family: 'Comfortaa';*/
	font-family: 'Quicksand';
	text-align: center;
	color: #ffccff;
	background-color: #666666;
	font-size: 2em;
}

h2{
	font-size: 3em;
	text-shadow: 2px 2px black;
}

.navi{
	font-family: 'Josefin Sans', sans-serif;
}

.navi a{
	text-decoration: none; 
	color: #ffccff;
}

.navi li:hover{
	text-decoration: underline;
}

.navi li{
	list-style-type: none;
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}

.photo{
	display: inline-block;
	float: left;
}


.label{
	display: block;
	clear: left;
	font-size: .75em;
}

.footer{
	background-color: #ffccff;
	color: #666666;
	width: 100%;
	height: 50px;
	text-align: center;
	position: absolute;
	bottom:0px;
}

.footer_text{
	padding-top: 10px;
}

#about p{
	display: block;
	float: right;
	text-align: justify;
	width: 60%;
}

#contact{
	clear: left;
	text-align: center;
}

